<div
  class="py-4 text-white fixed left-0 top-0 h-full gap-3 grid grid-rows-[auto_1fr_auto] bg-gradient-to-bl from-purple-500 to-pink-500 w-18 transition-all"
  (mouseover)="sideMenuOpen.set(true)" [class.text-center]="sideMenuOpen()" [class.w-44]="sideMenuOpen()"
  (mouseleave)="sideMenuOpen.set(false)">
  <a routerLink="/" class="inline-flex gap-3 justify-center mx-3">
    <lucide-icon [img]="ListCheck" size="25" />
    @if(sideMenuOpen()) {
    <h1 class="font-bold text-lg">Over Tasks</h1>
    }
  </a>
  <ul [class.text-center]="!sideMenuOpen()" class="block space-y-3 mx-3">
    @for(route of routes;track $index) {
    <li class="block">
      <a routerLinkActive="active-route" [routerLinkActiveOptions]="{exact: false}" [routerLink]="route.path"
        class="w-full p-3 inline-flex items-center gap-3 rounded-md opacity-70 hover:bg-purple-400 hover:opacity-100 transition-colors"
        [class.justify-center]="!sideMenuOpen()" [class.justify-start]="sideMenuOpen()">
        <lucide-icon [img]="route.icon" size="18" />
        @if(sideMenuOpen()) {
        <span>{{ route.label }}</span>
        }
      </a>
    </li>
    }
  </ul>
  <div class="space-y-3">
    <div class="flex items-center p-3 justify-center gap-2">
      <lucide-icon [img]="User" size="25" />
      @if(sideMenuOpen()) {
      <div class="space-y-1 text-left">
        <h3 class="m-0">John Doe</h3>
        <p class="text-sm text-gray-300">johnexample.com</p>
      </div>
      }
    </div>
    @if(sideMenuOpen()) {
    <div class="flex items-center gap-3 mx-4" [class.justify-center]="!sideMenuOpen()"
      [class.justify-start]="sideMenuOpen()">
      <!-- <button class="text-gray-200 cursor-pointer">
        <lucide-icon [img]="Settings" size="18"></lucide-icon>
      </button> -->
      <button
        class="border border-transparent hover:border-white w-full flex gap-3 justify-center items-center text-gray-200 cursor-pointer rounded-md p-2 transition-colors">
        <lucide-icon [img]="LogOut" size="18"></lucide-icon>
        @if(sideMenuOpen()) {
        <span>Sign out</span>
        }
      </button>
    </div>
    }
  </div>
</div>
<main [class.ml-44]="sideMenuOpen()"
  class="ml-18 transition-all duration-300 p-4 bg-gray-100 h-full overflow-y-auto space-y-4"><router-outlet />
</main>