<p class="text-gray-400 dark:text-gray-400">All Tasks</p>
<ot-greeting [userName]="principal()?.names ?? 'User'" [timeOfDay]="timeOfDay() ?? 'morning'" />

<section class="md:max-w-3/4 mx-auto">
    <ot-new-task (created)="tasks.reload()" />
</section>

@defer (when !tasks.isLoading()) {
<div class="relative">
    <section class="md:max-w-3/4 mx-auto">
        <h1 class="text-lg font-bold mb-3">Pending Tasks ({{ pendingTasks().length }})</h1>
        <div class="grid grid-cols-2 gap-3 items-start">
            @for (task of pendingTasks(); track task.id) {
            <!-- @if(!task.completed) { -->
            <ot-task (onDeleted)="deleteTask(task)" (completionStatusChanged)="onCompletionStatusChanged(task, $event)"
                [group]="tg" [task]="task" />
            <!-- } -->
            }@empty {
            <p class="text-gray-400 dark:text-gray-400">You currently have no tasks pending</p>
            }
        </div>
    </section>
    <section class="md:max-w-3/4 mx-auto">
        <h1 class="text-lg font-bold mb-3">Completed Tasks ({{ completedTasks().length }})</h1>
        <div class="grid grid-cols-2 gap-3 items-start">
            @for (task of completedTasks(); track task.id) {
            <!-- @if(!task.completed) { -->
            <ot-task (onDeleted)="deleteTask(task)" (completionStatusChanged)="onCompletionStatusChanged(task, $event)"
                [group]="tg" [task]="task" />
            <!-- } -->
            }@empty {
            <p class="text-gray-400 dark:text-gray-400">You currently have no tasks pending</p>
            }
        </div>
    </section>
    <div class="flex flex-col gap-2 fixed right-0 top-1/2 -translate-y-1/2 mr-3">
        <div>
            @if(hasPrevPage()) {
            <button (click)="onPrevButtonClicked()"
                class="p-3 text-purple-400 dark:text-slate-500 active:text-purple-500 outline-none dark:focus:text-white dark:active:text-white inline-flex flex-col gap-2">
                <lucide-icon [img]="ChevronUp" size="40" />
                <span class="text-lg font-bold">Prev</span>
            </button>
            }
        </div>
        <div>
            @if(hasNextPage()) {
            <button (click)="onNextButtonClicked()"
                class="p-3 text-purple-400 dark:text-slate-500 active:text-purple-500 outline-none dark:focus:text-white dark:active:text-white inline-flex flex-col gap-2">
                <span class="text-lg font-bold">Next</span>
                <lucide-icon [img]="ChevronDown" size="40" />
            </button>
            }
        </div>
    </div>
</div>
}@placeholder {
<p class="text-center">Loading Tasks...</p>
}