@defer(when !weatherInfo.isLoading()) {
<img width="95" [src]="weatherInfo.value()?.current?.condition?.icon">
}
<div class="space-y-1">
    <p class="font-semibold">Good <span class="capitalize">{{timeOfDay()}}</span></p>
    <p class="text-3xl font-extrabold">{{ userName() }}</p>
    <div class="flex gap-3 items-center">
        <lucide-icon [img]="ThermoMeter" size="15" />
        @defer(when !weatherInfo.isLoading()) {
        {{ weatherInfo.value()?.current?.feelslike_c ?? 0}} &deg;C /
        {{ weatherInfo.value()?.current?.feelslike_f ?? 0}} &deg;F {{weatherInfo.value()?.current?.condition?.text}} in
        {{ weatherInfo.value()?.location?.name}}
        }@placeholder {
        <span class="text-gray-500 text-sm">Loading...</span>
        }
    </div>
</div>