<p class="text-gray-400 dark:text-gray-600">Overview</p>
<section class="flex justify-center">
    <ot-greeting [userName]="principal()?.names" [timeOfDay]="clockService.timeOfDay$ | async" />
</section>
@defer(when !stats.isLoading()) {
<section>
    <div class="flex justify-evenly flex-wrap">
        @for(stat of data(); track $index) {
        <div class="space-y-2">
            <p class="text-gray-400 text-center dark:text-gray-200 text-[150px] font-extrabold">{{ stat.value | number
                }}
            </p>
            <p class="text-gray-400 dark:text-gray-500 flex justify-center gap-1"><span
                    class="capitalize">{{stat.name}}</span><span>this month</span></p>
        </div>
        }
    </div>
</section>
@if (((stats.value()?.completed ?? 0) /
(stats.value()?.created ?? 1)) != 0) {
<p class="text-center"><span class="font-bold">{{ ((stats.value()?.completed ?? 0) /
        (stats.value()?.created ?? 1))|
        percent }} of Tasks completed </span></p>
}
<section class="flex justify-center">
    <a routerLink="/tasks" class="text-center text-purple-500 font-medium">See more</a>
</section>
}@placeholder {
<p class="text-center">Loading...</p>
}